:root {
  --bg-a: #fff;
  --bg-b: #eee;
  --bg-c: #ddd;
  --fg-a: #222;
  --fg-b: #333;
  --fg-c: #444;
  --btn-bg-a: #4c4;
  --btn-bg-b: #46d;
  --btn-bg-c: #d84;
  --btn-bg-a-hover: #5d5;
  --btn-bg-b-hover: #48e;
  --btn-bg-c-hover: #e95;
  --img-fg: #eee;
  --img-bg: #777;
  --img-grad-top: #0000;
  --img-grad-bottom: #222f;
  --border-shadow: 0 2px 8px #0002;
  --link-normal: #229;
  --link-visited: #729;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-a: #181818;
    --bg-b: #282828;
    --bg-c: #353535;
    --fg-a: #fff;
    --fg-b: #bbb;
    --fg-c: #888;
    --btn-bg-a: #4b4;
    --btn-bg-b: #47b;
    --btn-bg-c: #b84;
    --btn-bg-a-hover: #5d5;
    --btn-bg-b-hover: #58d;
    --btn-bg-c-hover: #d95;
    --img-fg: #eee;
    --img-bg: #333;
    --img-grad-top: #0003;
    --img-grad-bottom: #111e;
    --border-shadow: 0 3px 10px #0006;
    --link-normal: #88e;
    --link-visited: #c8e;
  }
}
body {
  background-color: var(--bg-a);
  color: var(--fg-a);
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

h1 {
  font-size: 42px;
  margin: 20px auto;
}

h2 {
  font-size: 30px;
  margin: 16px auto;
}

h3 {
  font-size: 26px;
  margin: 14px auto;
}

h4 {
  font-size: 18px;
  margin: 12px auto;
}

p {
  font-size: 16px;
  margin: 12px auto;
}

h1, h2, h3, h4 {
  font-weight: 500;
}
h1 i, h2 i, h3 i, h4 i {
  padding-right: 16px;
}

p a:link {
  color: var(--link-normal);
  text-decoration: none;
}
p a:visited {
  color: var(--link-visited);
  text-decoration: none;
}
p a:hover {
  color: var(--link-visited);
  text-decoration: underline;
}

img {
  background-color: var(--img-bg);
  color: var(--img-fg);
}

iframe {
  border-radius: 10px;
}

.text-thin {
  font-weight: 300;
}

.text-normal {
  font-weight: 400;
}

.text-bold {
  font-weight: 500;
}

.text-center {
  text-align: center;
}

.container {
  position: relative;
}

.container-heading {
  padding: 50px 0 20px;
}

.container-section {
  padding: 20px 0;
}

.container-s {
  max-width: 400px;
}

.container-m {
  max-width: 600px;
}

.container-l {
  max-width: 800px;
}

.container-spaced {
  margin: 0 auto;
  overflow: hidden;
}

.container-flex {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container-fill {
  background-color: var(--bg-b);
}
.container-fill .card {
  background-color: var(--bg-a);
}

.container-padded {
  padding: 20px;
}

.navbar {
  background-color: var(--bg-a);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2666666667);
  position: fixed;
  width: 100%;
  z-index: 3;
}
.navbar a {
  color: var(--fg-a);
  text-align: center;
  padding: 10px;
  text-decoration: none;
  line-height: 20px;
  transition: 200ms;
}
.navbar a:hover {
  color: var(--fg-b);
}

.navbar-home {
  float: left;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -1px;
}

.navbar-element {
  float: right;
  font-size: 17px;
}

.navbar-active {
  box-shadow: inset 0 -2px 0 0 #888;
}

footer {
  text-align: center;
  padding: 8px 0;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1333333333);
}
footer p {
  margin: 0 auto;
}

.profile {
  padding: 90px 30px 70px 30px;
}

.profile-name, .profile-about {
  margin: 10px auto;
}

.row {
  width: 100%;
  overflow: hidden;
}

.col12 {
  width: 50%;
}

.col13 {
  width: 33.3%;
}

.col23 {
  width: 66.7%;
}

.col14 {
  width: 25%;
}

.col34 {
  width: 75%;
}

.col12, .col13, .col23, .col14, .col34 {
  float: left;
}

@media screen and (max-width: 560px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 29px;
  }
  h3 {
    font-size: 22px;
  }
  h4 {
    font-size: 18px;
  }
  p {
    font-size: 15px;
  }
  .col12, .col13, .col23, .about .col23 {
    width: 100%;
  }
  .about .col13 {
    display: none;
  }
}
.btn {
  background-color: var(--bg-a);
  color: var(--fg-a);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1333333333);
  display: inline-block;
  text-align: center;
  padding: 6px;
  font-size: 18px;
  text-decoration: none;
  transition: 200ms;
}

.btn-wide {
  padding: 20px 10px;
  width: 256px;
  margin: 8px 3px;
  font-weight: 600;
  background-image: linear-gradient(45deg, rgba(255, 0, 0, 0.2), rgba(0, 255, 0, 0.2));
}
.btn-wide:hover {
  padding: 23px 13px;
  margin: 5px 0;
}
.btn-wide:active {
  padding: 20px 10px;
  margin: 8px 3px;
}
.btn-wide i {
  padding-right: 10px;
  text-shadow: 0 0 9px rgba(255, 255, 255, 0);
}

.btn-green {
  background-color: var(--btn-bg-a);
  color: var(--bg-a);
}
.btn-green:hover {
  background-color: var(--btn-bg-a-hover);
  color: var(--bg-a);
}

.btn-blue {
  background-color: var(--btn-bg-b);
  color: var(--bg-a);
}
.btn-blue:hover {
  background-color: var(--btn-bg-b-hover);
  color: var(--bg-a);
}

.btn-orange {
  background-color: var(--btn-bg-c);
  color: var(--bg-a);
}
.btn-orange:hover {
  background-color: var(--btn-bg-c-hover);
  color: var(--bg-a);
}

.social {
  margin: 10px -5px;
  position: absolute;
  bottom: 15px;
}

.btn-social {
  padding: 6px 0;
  margin: 4px;
  width: 40px;
  height: 25px;
}
.btn-social span {
  background-color: var(--bg-a);
  color: var(--fg-a);
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1333333333);
  padding: 5px 10px;
  position: absolute;
  bottom: 100%;
  margin-left: -53px;
  visibility: hidden;
  opacity: 0;
  transition: 230ms;
  z-index: 1;
}
.btn-social:hover {
  color: var(--fg-b);
  padding: 8px 0;
  margin: 2px 4px;
}
.btn-social:hover span {
  bottom: 117%;
  visibility: visible;
  opacity: 1;
}
.btn-social:active {
  padding: 6px 0;
  margin: 4px;
}

.card {
  background-color: var(--bg-b);
  border-radius: 15px;
  padding: 12px 20px;
  margin: 10px;
  overflow: hidden;
  position: relative;
}

.card-m {
  max-width: 450px;
}

.card-short {
  height: 210px;
}

.card-img {
  background-color: var(--img-bg);
  color: var(--img-fg);
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1333333333);
  text-align: center;
  height: 220px;
  padding: 0;
  cursor: pointer;
  transition: 200ms;
}
.card-img h3 {
  position: absolute;
  z-index: 1;
  width: 100%;
  margin: 0;
  left: 0;
  top: 136px;
  transition: 200ms;
}
.card-img p {
  position: absolute;
  z-index: 1;
  width: 100%;
  opacity: 0;
  margin: 0;
  left: 0;
  top: 170px;
  transition: 200ms;
}
.card-img a {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
}
.card-img span {
  position: absolute;
  z-index: 0;
  width: calc(100% + 13px);
  height: calc(100% + 13px);
  margin: -10px;
  background-image: linear-gradient(180deg, var(--img-grad-top), var(--img-grad-bottom));
}
.card-img img {
  object-fit: cover;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  margin: -5px;
  transition: 200ms;
}
.card-img:hover {
  margin: 5px;
  padding: 5px;
}
.card-img:hover img {
  width: calc(100% + 15px);
  height: calc(100% + 15px);
  margin: -7px -10px;
}
.card-img:hover h3 {
  top: 124px;
}
.card-img:hover p {
  opacity: 0.7;
  top: 164px;
}
.card-img:active {
  margin: 10px;
  padding: 0;
}
.card-img:active h3 {
  top: 119px;
}
.card-img:active p {
  top: 159px;
}

.card-list {
  border-radius: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1333333333);
  padding: 0;
  margin: 20px;
  display: flex;
  height: 220px;
  text-align: left;
}

.card-list-img {
  flex: 0 0 280px;
}
.card-list-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card-list-content {
  padding: 0;
  display: flex;
  flex-direction: column;
}
.card-list-content h4 {
  margin: 20px;
}
.card-list-content p {
  margin: 0;
  padding: 0 20px;
  flex: 100%;
}

.card-list-links {
  background-color: var(--bg-a);
  color: var(--fg-a);
  border-top: solid 2px var(--bg-b);
  transition: 100ms;
  font-size: 13px;
  text-decoration: none;
  padding: 15px 20px;
  margin-top: 20px;
}
.card-list-links i {
  padding-right: 10px;
  font-size: 17px;
}
.card-list-links:hover {
  background-color: var(--bg-b);
}

@media screen and (max-width: 560px) {
  .card-img {
    height: 200px;
    padding: 0;
    margin: 5px 10px;
  }
  .card-img:active, .card-img:hover {
    padding: 0;
    margin: 5px 10px;
  }
  .card-img img, .card-img:hover img {
    height: 100%;
    width: 100%;
    margin: 0px -5px;
  }
  .card-img p, .card-img:hover p {
    top: 143px;
    opacity: 0.7;
  }
  .card-img h3, .card-img:hover h3 {
    top: 106px;
  }
  .card-list {
    flex-direction: column;
    height: auto;
    text-align: center;
  }
  .card-list-img {
    flex: 0 0 150px;
  }
}
.spinner {
  content: "";
  height: 36px;
  width: 36px;
  border: solid 4px #888;
  border-top-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
}

.gallery-slide {
  width: 100%;
  padding: 20px 0;
  white-space: nowrap;
  overflow-x: scroll;
}
.gallery-slide img {
  width: 100%;
  max-width: 720px;
  margin: 0 10px;
  border-radius: 12px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.2);
  display: inline;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 0 8px;
}
.gallery li {
  flex-grow: 1;
  height: 360px;
  list-style-type: none;
}
.gallery li img {
  box-sizing: border-box;
  object-fit: cover;
  vertical-align: middle;
  height: 100%;
  width: 100%;
  border-radius: 8px;
}
.gallery a {
  opacity: 0;
}
.gallery .spinner {
  margin-left: -18px;
  position: fixed;
  top: 50vh;
  left: 50%;
}
.gallery::after {
  content: "";
  flex-grow: 100;
}

@media screen and (max-width: 560px) {
  .gallery li {
    height: auto;
    min-height: unset;
  }
}
@keyframes profile-anim {
  from {
    opacity: 0;
    padding: 10px 0 30px;
  }
}
@keyframes content-anim {
  from {
    opacity: 0;
    padding-bottom: 10px;
  }
}
@keyframes container-anim {
  from {
    opacity: 0.1;
  }
}
@keyframes img-fade-anim {
  from {
    opacity: 0;
    padding: 10px 30px 30px;
  }
}
@keyframes spin-fade-anim {
  from {
    opacity: 1;
  }
}
@keyframes spin-anim {
  from {
    transform: rotate(-360deg);
  }
}
.container * {
  animation: container-anim;
  animation-delay: 0.1s;
  animation-duration: 0.2s;
  animation-fill-mode: backwards;
}
.container h1, .container h2, .container h3, .container h4 {
  animation: content-anim;
  animation-delay: 0.4s;
  animation-duration: 0.4s;
  animation-fill-mode: backwards;
}
.container p, .container i, .container a, .container img {
  animation: content-anim;
  animation-delay: 0.5s;
  animation-duration: 0.4s;
  animation-fill-mode: backwards;
}
.container .btn {
  animation-delay: 0.6s;
}
.container .profile * {
  animation: profile-anim;
  animation-delay: 0.2s;
  animation-duration: 0.5s;
  animation-fill-mode: backwards;
}
.container .animated-cog i {
  animation: spin-anim;
  animation-duration: 25s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.container .card-img img {
  animation: unset;
}

.gallery .spinner {
  animation: spin-anim;
  animation-duration: 0.8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.gallery a {
  animation: spin-fade-anim;
  animation-delay: 1.6s;
  animation-fill-mode: backwards;
}
.gallery li img {
  animation: img-fade-anim;
  animation-delay: 1.5s;
  animation-duration: 0.5s;
  animation-fill-mode: backwards;
}

code, .code-block {
  background-color: var(--bg-a);
  color: var(--fg-a);
  border-radius: 8px;
  font-family: monospace;
  padding: 3px;
}

.code-block {
  padding: 6px;
  overflow: scroll;
}

.code-snippet {
  background-color: var(--bg-a);
  color: var(--fg-a);
  position: relative;
  border-radius: 10px;
  min-width: 100%;
  width: 0;
}
.code-snippet i {
  background-color: var(--bg-a);
  color: var(--fg-c);
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  margin: 7px;
  padding: 8px;
  border-radius: 10px;
  font-size: 16px;
  border: 2px solid var(--bg-b);
  transition: 200ms;
}
.code-snippet i:hover {
  border-color: var(--bg-c);
}
.code-snippet i:active {
  border-color: var(--fg-c);
}
.code-snippet code {
  padding: 0;
  border-radius: 0;
}
.code-snippet pre {
  overflow: scroll;
  padding: 15px 16px;
}

/*# sourceMappingURL=main.css.map */
