@mixin col($bg-name, $fg-name){
    @if $bg-name != null {
        background-color: var(--#{$bg-name});
    }
    @if $fg-name != null {
        color: var(--#{$fg-name});
    }
}

@mixin border($radius, $height){
    border: {
        radius: $radius;
        //style: solid;
        //width: 2px;
        //color: #fff1;
    }
    @if $height > 0 {
        box-shadow: 0 #{$height}px #{2 * $height}px #0002;
    }
}


