@use 'mixin/all' as *;

.btn {
    @include col(bg-a,fg-a);
    @include border(10px,2);
    display: inline-block;
    text-align: center;
    padding: 6px;
    font-size: 18px;
    text-decoration: none;
    transition: 200ms;
}

.btn-wide {
    padding: 20px 10px;
    width: 250px;
    margin: 20px 0;
    &:hover {
        padding: 23px 13px;
        margin: 17px 0;
    }
    &:active {
        padding: 20px 10px;
        margin: 20px 0;
    }
}

.btn-green {
    @include col(btn-bg-a,null);
    &:hover {
        @include col(btn-bg-a-hover,null);
    }
}
.btn-blue {
    @include col(btn-bg-b,null);
    &:hover {
        @include col(btn-bg-b-hover,null);
    }
}
.btn-orange {
    @include col(btn-bg-c,null);
    &:hover {
        @include col(btn-bg-c-hover,null);
    }
}

// profile social links/buttons
.social {
    margin: 10px -5px;
    position: absolute;
    bottom: 15px;
}

.btn-social {
    padding: 6px 0;
    margin: 4px;
    width: 40px;
    height: 25px;
    span {
        @include col(bg-a,fg-a);
        @include border(10px,3);
        padding: 5px 10px;
        position: absolute;
        bottom: 100%;
        margin-left: -53px;
        visibility: hidden;
        opacity: 0;
        transition: 230ms;
        z-index: 1;
    }
    &:hover {
        @include col(null,fg-b);
        padding: 8px 0;
        margin: 2px 4px;
        span {
            bottom: 117%;
            visibility: visible;
            opacity: 1;
        }
    }
    &:active {
        padding: 6px 0;
        margin: 4px;
    }
}
