// rounded cards
@use 'mixin/all' as *;

// core
.card {
    @include col(bg-b,null);
    @include border(15px,0);
    padding: 12px 20px;
    margin: 10px;
    overflow: hidden;
    position: relative;
}


.card-m {
  max-width: 450px;
}

.card-short {
    height: 210px;
}

// hover cards
.card-img {
    @include col(img-bg,img-fg);
    @include border(15px,2);
    text-align: center;
    height: 220px;
    padding: 0;
    cursor: pointer;
    transition: 200ms;

    h3 {
        position: absolute;
        z-index: 1;
        width: 100%;
        margin: 0;
        left: 0;
        top: 136px;
        transition: 200ms;
    }
    p {
        position: absolute;
        z-index: 1;
        width: 100%;
        opacity: 0;
        margin: 0;
        left: 0;
        top: 170px;
        transition: 200ms;
    }
    a {
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
    }
    span {
        position: absolute;
        z-index: 0;
        width: calc(100% + 13px);
        height: calc(100% + 13px);
        margin: -10px;
        background-image: linear-gradient(
            180deg,
            var(--img-grad-top),
            var(--img-grad-bottom)
        );
    }
    img {
        object-fit: cover;
        width: calc(100% + 10px);
        height: calc(100% + 10px);
        margin: -5px;
        transition: 200ms;
    }

    &:hover {
        margin: 5px;
        padding: 5px;
        img {
            width: calc(100% + 15px);
            height: calc(100% + 15px);
            margin: -7px -10px;
        }
        h3 {
            top: 124px;
        }
        p {
            opacity: 0.7;
            top: 164px;
        }
    }
    &:active {
        margin: 10px;
        padding: 0;
        h3 {
            top: 119px;
        }
        p {
            top: 159px;
        }
    }
}

// for projects
.card-list {
    @include border(15px,3);
    padding: 0;
    margin: 20px;
    display: flex;
    height: 220px;
    text-align: left;
}

.card-list-img {
    flex: 0 0 280px;

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}
.card-list-content {
    padding: 0;
    display: flex;
    flex-direction: column;

    h4 {
        margin: 20px;
    }
    p {
        margin: 0;
        padding: 0 20px;
        flex: 100%;
    }
}
.card-list-links {
    @include col(bg-a,fg-a);
    border-top: solid 2px var(--bg-b);
    transition: 100ms;
    font-size: 13px;
    text-decoration: none;
    padding: 15px 20px;
    margin-top: 20px;
    i {
        padding-right: 10px;
        font-size: 17px;
    }
    &:hover {
        @include col(bg-b,null);
    }
}

// smaller screen
@media screen and (max-width: 560px) {
    .card-img {
        height: 200px;
        padding: 0;
        margin: 5px 10px;
    }
    .card-img:active,.card-img:hover {
        padding: 0;
        margin: 5px 10px;
    }
    .card-img img,.card-img:hover img {
        height: 100%;
        width: 100%;
        margin: 0px -5px;
    }
    .card-img p,.card-img:hover p {
        top: 143px;
        opacity: 0.7;
    }
    .card-img h3,.card-img:hover h3 {
        top: 106px;
    }
    .card-list {
        flex-direction: column;
        height: auto;
        text-align: center;
    }
    .card-list-img {
        flex: 0 0 150px;
    }
}


