@use 'mixin/all' as *;

code, .code-block {
    @include col(bg-a,fg-a);
    @include border(8px,0);
    font-family: monospace;
    padding: 3px;
}

.code-block {
    padding: 6px;
    overflow: scroll;
}

.code-snippet {
  @include col(bg-a,fg-a);
  position: relative;
  border-radius: 10px;
  min-width: 100%;
  width: 0;

  i {
    @include col(bg-a,fg-c);
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    margin: 7px;
    padding: 8px;
    border-radius: 10px;
    font-size: 16px;
    border: 2px solid var(--bg-b);
    transition: 200ms;
    &:hover {
      border-color: var(--bg-c);
    }
    &:active {
      border-color: var(--fg-c);
    }
  }

  code {
    padding: 0;
    border-radius: 0;
  }

  pre {
    overflow: scroll;
    padding: 15px 16px;
  }
}


