@use 'mixin/all' as *;

body {
    @include col(bg-a,fg-a);
    margin: 0;
    font: {
        family: "Open Sans", sans-serif;
        size: 16px;
        weight: 400;
    }
}

h1 { 
    font-size: 42px;
    margin: 20px auto;
}
h2 {
    font-size: 30px;
    margin: 16px auto;
}
h3 {
    font-size: 26px;
    margin: 14px auto;
}
h4 {
    font-size: 18px;
    margin: 12px auto;
}
p {
    font-size: 16px;
    margin: 12px auto;
}

h1, h2, h3, h4 {
    font-weight: 500;
    i {
        padding-right: 16px;
    }
}

p a {
  &:link {
      @include col(null,link-normal);
      text-decoration: none;
  }
  &:visited {
      @include col(null,link-visited);
      text-decoration: none;
  }
  &:hover {
      @include col(null,link-visited);
      text-decoration: underline;
  }
}

img {
    @include col(img-bg,img-fg);
}

iframe {
    @include border(10px,0);
}

// text styles
.text-thin { font-weight: 300; }
.text-normal { font-weight: 400; }
.text-bold { font-weight: 500; }
.text-center { text-align: center; }

// containers for elements
.container {
    position: relative;
}

.container-heading {
  padding: 50px 0 20px;
}

.container-section {
    padding: 20px 0;
}

.container-s {
    max-width: 400px;
}

.container-m {
    max-width: 600px;
}

.container-l {
    max-width: 800px;
}

.container-spaced {
    margin: 0 auto;
    overflow: hidden;
}

.container-flex {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container-fill {
    @include col(bg-b,null);
    .card {
        @include col(bg-a,null);
    }
}

.container-padded {
    padding: 20px;
}

// navigation header
.navbar {
    @include col(bg-a,null);
    box-shadow: 0 0 4px #0004;
    position: fixed;
    width: 100%;
    z-index: 3;
    a {
        @include col(null,fg-a);
        text-align: center;
        padding: 10px;
        text-decoration: none;
        line-height: 20px;
        transition: 200ms;
    }
    & a:hover {
        @include col(null,fg-b);
    }
}

.navbar-home {  // logo text
    float: left;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -1px;
}

.navbar-element {
    float: right;
    font-size: 17px;
}

.navbar-active {
    box-shadow: inset 0 -2px 0 0 #888;
}

// copyright footer
footer {
    text-align: center;
    padding: 8px 0;
    box-shadow: 0 0 4px #0002;
    p {
        margin: 0 auto;
    }
}

// name heading for front page
.profile {
    padding: 90px 30px 70px 30px;
}
.profile-name, .profile-about {
    margin: 10px auto;
}

// for spliting containers
.row { width: 100%; overflow: hidden; }
.col12 { width: 50%; }
.col13 { width: 33.3%; }
.col23 { width: 66.7%; }
.col14 { width: 25%; }
.col34 { width: 75%; }
.col12, .col13, .col23,.col14,.col34 {
    float: left;
}

// mobile screen
@media screen and (max-width: 560px) {
    h1 { font-size: 36px; }
    h2 { font-size: 29px; }
    h3 { font-size: 22px; }
    h4 { font-size: 18px; }
    p { font-size: 15px; }
    .col12, .col13, .col23, .about .col23 {
        width: 100%;
    }
    .about .col13 { // no animated cogwheel
        display: none;
    }
}
