// todo - should probably be converted into a generic image scss

// used by gallery only now
.spinner {  // spin animation in _anim.scss
    content: "";
    height: 36px;
    width: 36px;
    border: solid 4px #888;
    border-top-color: #0000;
    border-radius: 50%;
}

// used by newb page
.gallery-slide {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 30px;
    white-space: nowrap;
    overflow-x: scroll;
    img {
        width: 100%;
        max-width: 720px;
        margin: 0 10px;
        border-radius: 12px;
        box-shadow: 0 3px 12px #0003;
        display: inline;
    }
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 0 8px;
    li {
        flex-grow: 1;
        height: 360px;
        //cursor: pointer;
        //position: relative;
        list-style-type: none;
        img {
            box-sizing: border-box;
            object-fit: cover;
            vertical-align: middle;
            height: 100%;
            width: 100%;
            border-radius: 8px;
        }
    }
    a { // spin fade in anim in _anim.scss
        opacity: 0;
    }
    .spinner {
        margin-left: -18px;
        position: fixed;
        top: 50vh;
        left: 50%;
    }
    &::after {
        // add empy content to fix last stretched image
        content: "";
        flex-grow: 100;
    }
}

// small screen
@media screen and (max-width: 560px) {
    .gallery li {
        height: auto;
        min-height: unset;
    }
}
