/* main.css */

/* color scheme */
:root {
	--bg-a: #fff;	/*background main*/
	--bg-b: #eee;
	--fg-a: #222;	/*main,a*/
	--fg-b: #888;	/*a hover*/
	--btn-bg-a: #7d9;
	--btn-bg-b: #abd;
	--btn-bg-c: #dca;
	--btn-bg-a-hover: #7f9;
	--btn-bg-b-hover: #abf;
	--btn-bg-c-hover: #fca;
	--code-bg: #ddd;
	--code-fg: #22a;
	--img-fg: #eee;
	--img-bg: #777;
	--img-grad-top: #0000;
	--img-grad-bottom: #222f;
}
@media (prefers-color-scheme:dark){
:root{
	--bg-a: #181818;
	--bg-b: #282828;
	--fg-a: #fff;
	--fg-b: #bbb;
	--btn-bg-a: #296437;
	--btn-bg-b: #294164;
	--btn-bg-c: #644829;
	--btn-bg-a-hover: #239e40;
	--btn-bg-b-hover: #3d7add;
	--btn-bg-c-hover: #dd8e2e;
	--code-bg: #191919;
	--code-fg: #aad;
	--img-fg: #eee;
	--img-bg: #333;
	--img-grad-top: #0003;
	--img-grad-bottom: #111e;
}
}

/* base defaults */
body { background-color: var(--bg-a); color: var(--fg-a); font-family: "Open Sans", sans-serif; font-weight: 400; margin: 0; }
h1 { font-size: 42px; }
h2 { font-size: 30px; }
h3 { font-size: 26px; }
h4 { font-size: 18px; }
h1,h2,h3,h4 { font-weight: 500; margin: 20px auto;}
p { font-size: 15px; }
p { font-weight: 400;}
code,.code-block{ font-family: monospace; background-color: var(--code-bg); color: var(--code-fg); border-radius: 5px; padding: 3px; }
.code-block { padding: 6px; overflow: scroll; }

/* text styles */
.text-thin { font-weight: 300;}
.text-normal { font-weight: 400;}
.text-bold { font-weight: 500;}
.text-center { text-align: center; }

/* containers */
.container { position: relative; }
.container-section { padding: 50px 0 80px 0; }
.container-spaced { max-width: 630px; margin: 0 auto; overflow: hidden; }
.container-fill { background-color: var(--bg-b); }
.container-fill .card { background-color: var(--bg-a);}

/* header navigation bar */
.navbar { background-color: var(--bg-a); box-shadow: 0 0 4px #0004; position: fixed; width: 100%; z-index: 1; }
.navbar a { color: var(--fg-a); text-align: center; padding: 10px; text-decoration: none; line-height: 20px; transition: 200ms; }
.navbar a:hover { color: var(--fg-b); }
.navbar-home { float: left; font-size: 20px; font-weight: 500; letter-spacing: -1px; }
.navbar-element { float: right; font-size: 17px; }
.navbar-active { box-shadow:inset 0 -2px 0 0 #888; }

/* copyright footer */
footer { text-align: center; padding: 8px 0; box-shadow: 0 0 4px #0002; }
footer p { margin: 0 auto;}

/* name heading */
.profile { padding: 90px 30px 70px 30px; }
.profile-name, .profile-about { margin: 10px auto; }

/* for spliting containers */
.row { width: 100%; overflow: hidden; }
.col12 { width: 50%; }
.col13 { width: 33.3%; }
.col23 { width: 66.7%; }
.col14 { width: 25%; }
.col34 { width: 75%; }
.col12, .col13, .col23, .col14, .col34 { float: left; }

/* rounded cards */
/* todo - optimize */
.card { border-radius: 15px; background-color: var(--bg-b); padding: 15px 30px; margin: 10px; overflow: hidden; position: relative; }
.card-short { height: 220px; }
.card-img { text-align: center; height: 220px; padding: 0; cursor: pointer; box-shadow: 0 2px 4px #0003; color: var(--img-fg); background-color: var(--img-bg); transition: 200ms; }
.card-img h3 { margin: 0; width: 100%; left: 0; top: 136px; position: absolute; transition: 200ms; 	z-index: 1;}
.card-img p { opacity: 0; margin: 0; width: 100%; left: 0; top: 170px; position: absolute; transition: 200ms; z-index: 1;}
.card-img a { position: absolute; height: 100%; width: 100%; z-index:2; }
.card-img span {
	position: absolute;
	width: calc(100% + 13px);
	height: calc(100% + 13px);
	margin: -10px;
	background-image: linear-gradient(180deg, var(--img-grad-top),var(--img-grad-bottom));
}
.card-img img {
	object-fit: cover;
	width: calc(100% + 10px);
	height: calc(100% + 10px);
	margin: -5px;
	transition: 200ms;
}
.card-img:hover { margin: 5px; padding: 5px; }
.card-img:hover img { width: calc(100% + 15px); height: calc(100% + 15px); margin: -7px -10px;}
.card-img:hover h3 { top: 124px; }
.card-img:hover p { opacity: 0.7; top: 164px; }
.card-img:active { margin: 10px; padding: 0; }
.card-img:active h3 { top: 119px; }
.card-img:active p { top: 159px; }

/* todo - complete */
.card-list { padding-left: 245px;}
.card-list { text-align: left;}
.card-list img { width: 200px; height: calc(100% - 30px); object-fit: cover; border-radius: 10px; position: absolute; left: 14px;}

/* buttons */
.btn {
	background-color: var(--bg-a);
	color: var(--fg-a);
	display: inline-block;
	text-align: center;
	padding: 6px;
	border-radius: 10px;
	font-size: 18px;
	box-shadow: 0 2px 4px #0001;
	text-decoration: none;
	transition: 200ms;
}
.btn-wide { padding: 20px 10px; width: 250px; margin: 20px 0; }
.btn-wide:hover { padding: 23px 13px; margin: 17px 0; }
.btn-wide:active { padding: 20px 10px; margin: 20px 0; }

.btn-green { background-color: var(--btn-bg-a);}
.btn-blue { background-color: var(--btn-bg-b); }
.btn-orange { background-color: var(--btn-bg-c); }
.btn-green:hover { background-color: var(--btn-bg-a-hover); }
.btn-blue:hover { background-color: var(--btn-bg-b-hover); }
.btn-orange:hover { background-color: var(--btn-bg-c-hover); }

/* profile social links/buttons */
.social { margin: 10px -5px; position: absolute; bottom: 15px; }
.btn-social { color:var(--fg-a); padding: 6px 0; margin: 4px; width: 40px; height: 25px; }
.btn-social:hover { color:var(--fg-b); padding: 8px 0; margin: 2px 4px;}
.btn-social:active { padding: 6px 0; margin: 4px;}
.btn-social span {
	font-size: 16px;
	background-color: var(--bg-a);
	color: var(--fg-a);
	box-shadow: 0 2px 8px #0002;
	border-radius: 8px;
	padding: 5px 10px;
	position: absolute;
	bottom: 100%;
	margin-left: -53px;
	visibility: hidden;
	opacity: 0;
	transition: 230ms;
	z-index: 1;
}
.btn-social:hover span { bottom: 117%; visibility: visible; opacity: 1;}

/* gallery */
.gallery { overflow: hidden; border-radius: 10px; margin: 30px 8px; }
.gallery img { float: left; width: 33.33%; height: 40vh; object-fit: cover; transition: 200ms; transition-delay: 200ms; }
.gallery-slide { width: 100%; padding: 20px 0; white-space: nowrap; overflow-x: scroll; }
.gallery-slide img { width: 100%; max-width: 720px;margin: 0 10px; border-radius: 12px; box-shadow: 0 3px 12px #0003; display: inline; }

/*  mobile screen */
@media screen and (max-width: 850px){
	.gallery img { width: 50%; }
}
@media screen and (max-width: 560px){
	h1 { font-size: 36px; }
	h2 { font-size: 29px; }
	h3 { font-size: 22px; }
	h4 { font-size: 18px; }
	p { font-size: 15px; }
	.gallery img { width: 100%; height: 100%; }
	.col12, .col13, .col23,.about .col23 { width: 100%; }
	.about .col13 { display: none; }
	.card-img { height: 200px; padding:0; margin: 5px 10px;}
	.card-img:active, .card-img:hover { padding:0; margin: 5px 10px;}
	.card-img img,.card-img:hover img{ height: 100%; width: 100%; margin: 0px -5px;}
	.card-img p, .card-img:hover p { top: 143px; opacity: 0.7;}
	.card-img h3, .card-img:hover h3 { top: 106px; }

	.card-list {padding: 20px; text-align: center;}
	.card-list img {position: relative; width: 100%; left:0;}
}

/* animations - mostly for gallery */
@keyframes gallery-in { from { margin: 50px 5% 10px 5%; } }
@keyframes img-fade { from { opacity: 0; } }
@keyframes gallery-spin { from { opacity: 1;} }
@keyframes spin { from { transform: rotate(-360deg); } }
.spinner {
	content: "";
	height: 36px; width: 36px;
	border: solid 4px #888; border-top-color: #0000; border-radius: 50%;
	animation: 1s linear infinite spin;
}
.gallery { animation: gallery-in; animation-delay: 1s; animation-duration: 0.7s; }
.gallery img { animation: img-fade; animation-delay: 1s; animation-duration: 0.2s; animation-fill-mode: backwards; }
.gallery a { opacity: 0; animation: gallery-spin; animation-delay: 1s; animation-fill-mode: backwards; }
.gallery .spinner { margin-left: -18px; position: fixed; top: 50vh; left: 50%; }
