/* main.css */

/* base defaults */
body { background-color: #fff; color: #222; font-family: 'Open Sans', sans-serif; font-weight: 400; margin: 0; }
h1 { font-size: 42px; }
h2 { font-size: 30px; }
h3 { font-size: 26px; }
h4 { font-size: 18px; }
h1,h2,h3,h4 { font-weight: 500; margin: 20px auto;}
p { font-size: 15px; }
p { font-weight: 400;}
code { font-family: monospace; background-color: #ddd; color: #00a; border-radius: 5px; padding: 3px;}

/*  mobile screen */
@media screen and (max-width: 560px){
	h1{ font-size: 36px; }
	h2 { font-size: 29px; }
	h3 { font-size: 22px; }
	h4 { font-size: 19px; }
	p { font-size: 16px; }
}

.code-block { font-family: monospace; background-color: #ddd; border-radius: 5px; padding: 6px; overflow: scroll; }

/* text styles */
.text-thin { font-weight: 300;}
.text-normal { font-weight: 400;}
.text-bold { font-weight: 500;}
.text-center { text-align: center; }

/* containers */
.container { position: relative; }
.container-section { padding: 50px 0 80px 0; }
.container-spaced { max-width: 630px; margin: 0 auto; overflow: hidden; }
.container-fill { background-color: #eee; }
.container-fill .card { background-color: #fff;}

/* header navigation bar */
.navbar { background-color: #fff; box-shadow: 0 0 4px #0004; position: fixed; width: 100%; z-index: 1; }
.navbar a { color: #111; text-align: center; padding: 10px; text-decoration: none; line-height: 20px; transition: 200ms; }
.navbar a:hover { color: #666; }
.navbar-home { float: left; font-size: 20px; font-weight: 500; letter-spacing: -1px; }
.navbar-element { float: right; font-size: 17px; }
.navbar-active { box-shadow:inset 0 -2px 0 0 #888; }

/* copyright footer */
.footer { padding: 8px 0; box-shadow: 0 0 4px #0002; }
.footer p { margin: 0 auto;}

/* name heading */
.profile { padding: 90px 30px 70px 30px; }
.profile-name, .profile-about { margin: 10px auto; }

/* for spliting containers */
.row { width: 100%; overflow: hidden; }
.col12 { width: 50%; }
.col13 { width: 33.3%; }
.col23 { width: 66.7%; }
.col14 { width: 25%; }
.col34 { width: 75%; }
.col12, .col13, .col23, .col14, .col34 { float: left; }

/* rounded cards */
.card { border-radius: 15px; background-color: #f1f1f1; padding: 15px 30px; margin: 10px; overflow: hidden; position: relative; }
.card-short { height: 220px; }
.card-img { cursor: pointer; background-size: cover; box-shadow: 0 2px 4px #0003; color: #eee; transition: 200ms; }
.card-img h3 { padding-top: 140px; margin: 0;}
.card-img p { color: #bbb0; margin: 5px 0; }
.card-img:hover { margin: 5px; padding: 10px 35px 30px 35px; }
.card-img:hover p { color: #bbbf;}
.card-img:active { margin: 10px; padding: 5px 30px 25px 30px; }

/* explore cards bg */
.artwork-bg { background-image: linear-gradient(to top, #000a, #0000),url('../images/artworks_bg.jpg'); }
.projects-bg { background-image: linear-gradient(to top, #600f, #0000),url('../images/projects_bg.jpg'); }
.resume-bg { background-image: linear-gradient(to top, #228f, #0000),url('../images/resume_bg.jpg'); }
.newb-bg {  background-image: url('../images/newb_bg.jpg'); }

/* buttons */
.btn {
	background-color: #fff;
	color: #222;
	display: inline-block;
	text-align: center;
	padding: 6px;
	border-radius: 10px;
	font-size: 18px;
	box-shadow: 0 2px 4px #0001;
	text-decoration: none;
	transition: 200ms;
}
.btn-wide { padding: 20px 10px; width: 250px; margin: 20px 0; }
.btn-wide:hover { padding: 23px 13px; margin: 17px 0; }
.btn-wide:active { padding: 20px 10px; margin: 20px 0; }

.btn-green { background-color: #7d9;}
.btn-blue { background-color: #abd; }
.btn-orange { background-color: #dca; }
.btn-green:hover { background-color: #7f9; }
.btn-blue:hover { background-color: #abf; }
.btn-orange:hover { background-color: #fca; }

/* profile social links/buttons */
.social { margin: 10px -5px; position: absolute; bottom: 15px; }
.btn-social { color:#222; padding: 6px 0; margin: 4px; width: 40px; height: 25px; }
.btn-social:hover { color:#777; padding: 8px 0; margin: 2px 4px;}
.btn-social:active { padding: 6px 0; margin: 4px;}
.btn-social span {
	font-size: 16px;
	background-color: #fff;
	color: #222;
	box-shadow: 0 2px 8px #0002;
	border-radius: 8px;
	padding: 5px 10px;
	position: absolute;
	bottom: 100%;
	margin-left: -53px;
	visibility: hidden;
	opacity: 0;
	transition: 230ms;
	z-index: 1;
}
.btn-social:hover span { bottom: 117%; visibility: visible; opacity: 1;}

/* gallery */
.gallery-slide {
	width: 100%;
	padding: 20px 0;
	margin: 0 auto;
	white-space: nowrap;
	border: 1px solid #eee;
	overflow-x: scroll;
}

.gallery-slide img {
	margin: 0 10px;
	border-radius: 12px;
	box-shadow: 0 3px 12px #0003;
	width: 100%;
	max-width: 720px;
	display: inline;
}
